PORT=8000
MONGODB_URI=mongodb://localhost:27017/your_db_name
ACCESS_TOKEN_SECRET=your_super_secret_access_token_here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_super_secret_refresh_token_here
REFRESH_TOKEN_EXPIRY=10d
CORS_ORIGIN=*
NODE_ENV=development
REDIS_URL=redis://localhost:6379
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID:446861843150-grcf
 GOOGLE_CLIENT_SECRET= GOOGLE_CLIENT_SECRET:GOCSPX-Wf4ZQt
GOOGLE_REFRESH_TOKEN=GOOGLE_REFRESH_TOKEN://042RTDFcc_v48iqXj-6jW7nDj9njgKt9qRi-g
GOOGLE_USER=your Email
